@mixin colorProps {
    --base-color-primary: #122b9d;
    --base-color-primary-1: #254edb;
    --base-color-primary-2: #36f;
    --base-color-primary-3: #6690ff;
    --base-color-primary-4: #84a9ff;
    --base-color-primary-5: #adc8ff;
    --base-color-primary-6: #d6e4ff;

    --base-color-secondary: #a40e4b;
    --base-color-secondary-1: #e51c47;
    --base-color-secondary-2: #e51c47;
    --base-color-secondary-3: #ef5164;
    --base-color-secondary-4: #f77577;
    --base-color-secondary-5: #fcaaa3;
    --base-color-secondary-6: #fdd8d1;

    --base-color-success: #087b5c;
    --base-color-success-1: #10ac63;
    --base-color-success-2: #17c964;
    --base-color-success-3: #4ade7b;
    --base-color-success-4: #6fee8d;
    --base-color-success-5: #a1f9ac;
    --base-color-success-6: #cffcd1;

    --base-color-info: #154890;
    --base-color-info-1: #2b7cc9;
    --base-color-info-2: #3c9fea;
    --base-color-info-3: #6bbff2;
    --base-color-info-4: #89d5f8;
    --base-color-info-5: #b1e9fc;
    --base-color-info-6: #d8f6fd;

    --base-color-warning: #9d4c1b;
    --base-color-warning-1: #db8637;
    --base-color-warning-2: #ffab4c;
    --base-color-warning-3: #ffc678;
    --base-color-warning-4: #ffd693;
    --base-color-warning-5: #ffe7b7;
    --base-color-warning-6: #fff4db;

    --base-color-danger: #9d1033;
    --base-color-danger-1: #db202d;
    --base-color-danger-2: #ff312d;
    --base-color-danger-3: #ff7161;
    --base-color-danger-4: #ff9881;
    --base-color-danger-5: #ffc2ab;
    --base-color-danger-6: #ffe4d5;

    --base-color-light: #7c92b3;
    --base-color-light-1: #f8f9fa;
    --base-color-light-2: #fafbfb;
    --base-color-light-3: #fcfdfd;
    --base-color-light-4: #fdfefe;
    --base-color-light-5: #fefefe;
    --base-color-light-6: #ffffff;

    --base-color-dark: #0c1019;
    --base-color-dark-1: #181d23;
    --base-color-dark-2: #212529;
    --base-color-dark-3: #6c767e;
    --base-color-dark-4: #a8b5be;
    --base-color-dark-5: #d7e3e9;
    --base-color-dark-6: #eaf1f4;

    --base-color-gradient: linear-gradient(112deg, #6bbff2 -63.59%, #e51c47 -20.3%, #254edb 70.46%);
    --base-color-gradient-1: linear-gradient(to right, rgb(251, 146, 60), rgb(219, 39, 119));
    --base-color-gradient-2: linear-gradient(to right, rgb(168, 85, 247), rgb(99, 102, 241));
    --base-color-gradient-3: linear-gradient(to right, rgb(252, 211, 77), rgb(249, 115, 22));
    --base-color-gradient-4: linear-gradient(to right, rgb(56, 189, 248), rgb(37, 99, 235));
    --base-color-gradient-5: linear-gradient(to right, rgb(236, 72, 153), rgb(244, 63, 94));

    --base-black: #000000;
    --base-white: #ffffff;
    --base-transparent: transparent;
}
