/* :root {
    --base-font-family-base: 'Inter', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,
        BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --base-color-primary: #2563eb;
    --base-color-primary-1: #3b82f6;
    --base-color-primary-2: #60a5fa;
    --base-color-primary-3: #93c5fd;
    --base-color-primary-4: #bfdbfe;

    --base-color-secondary: #475569;
    --base-color-secondary-1: #64748b;
    --base-color-secondary-2: #94a3b8;
    --base-color-secondary-3: #94a3b8;
    --base-color-secondary-4: #e2e8f0;
    --base-color-secondary-5: #fbfbfb;

    --base-color-success: #059669;
    --base-color-success-1: #10b981;
    --base-color-success-2: #34d399;
    --base-color-success-3: #6ee7b7;
    --base-color-success-4: #a7f3d0;

    --base-color-info: #0284c7;
    --base-color-info-1: #0ea5e9;
    --base-color-info-2: #38bdf8;
    --base-color-info-3: #7dd3fc;
    --base-color-info-4: #bae6fd;

    --base-color-warning: #f59e0b;
    --base-color-warning-1: #fbbf24;
    --base-color-warning-2: #b38200;
    --base-color-warning-3: #fde68a;

    --base-color-danger: #ea580c;
    --base-color-danger-1: #f97316;
    --base-color-danger-2: #fb923c;
    --base-color-danger-3: #fdba74;
    --base-color-danger-4: #fed7aa;

    --base-color-light: #f8f9fa;
    --base-color-light-1: rgba(248, 249, 250, 0.9);
    --base-color-light-2: rgba(248, 249, 250, 0.7);
    --base-color-light-3: rgba(248, 249, 250, 0.5);
    --base-color-light-4: rgba(248, 249, 250, 0.3);
    --base-color-light-5: rgba(248, 249, 250, 0.1);

    --base-color-dark: #374151;
    --base-color-dark-1: #4b5563;
    --base-color-dark-2: #6b7280;
    --base-color-dark-3: #9ca3af;
    --base-color-dark-4: #d1d5db;

    --button-color-primary: #ffffff;
    --button-color-secondary: #ffffff;
    --button-color-success: #ffffff;
    --button-color-info: #ffffff;
    --button-color-warning: #ffffff;
    --button-color-danger: #ffffff;
    --button-color-light: var(--base-color-dark);
    --button-color-dark: var(--base-color-light);
    --button-color-outline: var(--base-color-dark);
    --button-color-gradient: var(--base-color-light);
    --base-button-font-weight: 500;
} */
