.reset-button {
    background: transparent;
    box-shadow: none;
    outline: 0;
    border: 0;
    padding: 0;
    margin: 0;
}

.reset-ul,
.reset-ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.reset-input,
.reset-area {
    background: transparent;
    box-shadow: none;
    outline: 0;
    border: 0;
    margin: 0;
    padding: 0;
}
